/* Custom color */
.button-black {
    background-color: black;
    border-color: black;
}
.button-black.button-clear,
.button-black.button-outline {
    background-color: transparent;
    color: black;
}
.button-black.button-clear {
    border-color: transparent;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-device-width: 799px) {
    body {
        font-size: 3.5rem;
        line-height: 2.5;
    }

    h3 {
        font-size: 5rem;
    }

    .generate-password-button {
        font-size: 3.5rem;
        padding: 2rem 4rem;
        height: auto;
        font-weight: normal;
        border-width: 4px;
        text-transform: none;
        background-color: gold !important;
    }
}